<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	
	<head>
		
	</head>
	

			<div class="row" layout:fragment="contenido">
				<div class="col">
					<ul class="nav nav-tabs centered">
					  <li class="nav-item">
					    <a class="nav-link" href="/cuenta/perfil">Perfil</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Link</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Link</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Disabled</a>
					  </li>
					</ul>
				</div>
				<div class="row">
					<div class="col">
						<img src="/img/cuenta.jpg" style="width: 65%;height: 100%;"></img>
					</div>
				</div>
			</div>


</html>