<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	
	<head>
		
	</head>
	
		<form action="/cuenta/perfil" method="POST" layout:fragment="contenido">
			<div class="row">
				<div class="col">
					<ul class="nav nav-tabs centered">
						<li></li>
						<li class="nav-item">
					  		<a class="nav-link active" href="/cuenta/perfil">Perfil</a>
						</li>
						<li class="nav-item">
					  		<a class="nav-link" href="/cuenta/aportes">Aportes</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<br></br>
					<h3 style="text-decoration: underline;">Nombre de Usuario:</h3>
					<hr></hr>
					<p th:text="${nombrePerfil}"></p>
					<br></br>
					<p>Cambiar Nombre de Usuario</p>
					<input type="text" name="nuevoNombre" placeholder="Nuevo Nombre de Usuario..." size="25"></input>
				</div>
			</div>
			<div class="row">
				<div class="col">
				<hr></hr>
				<br></br>
					<h3 style="text-decoration: underline;">Direccion de Email:</h3>
					<hr></hr>
					<p th:text="${emailPerfil}"></p>
					<br></br>
					<p>Cambiar Direccion de Email</p>
					<input type="text" name="nuevoEmail" placeholder="Nueva Direccion de Email..." size="25"></input>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr></hr>
					<br></br>
					<h3 style="text-decoration: underline;">Contrase&ntilde;a:</h3>
					<hr></hr>
					<br></br>
					<p>Cambiar Contrase&ntilde;a</p>
					<input type="text" name="nuevaContraseña" placeholder="Nueva Contrase&ntilde;a..." size="25"></input>
					<input type="text" name="nuevaContraseña2" placeholder="Repita Contrase&ntilde;a..." size="25"></input>
					<br></br>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr></hr>
					<br></br>
					<h3 style="text-decoration: underline;">Guardar Datos</h3>
					<hr></hr>
					<br></br>
					<input type="text" name="contraseñaActual" placeholder="Contrase&ntilde;a Actual..." size="25"></input>
					<button type="submit" class="btn btn-info">Guardar Datos...</button>
					
				</div>
			</div>
		</form>


</html>